body {
    background-image: none !important;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
  }

.app {
  width: 100vw;
  height: 100vh;
}

.fill-rest {
  flex: 1; /* Takes all remaining space */
  overflow: auto; /* Optional: enables scrolling if content overflows */
}

.content {
  padding: 10px;
}  