body {
    background-image: none !important;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
  }

.app {
  width: 100vw;
  height: 100vh;
}

.fullSize {
  width: '100%';
  height: '100%';
}